apiVersion: v1
baseDomain: {{ configure_base_domain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  replicas: {{ __worker_nodes_len }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: {{ __master_nodes_len }}
metadata:
  name: {{ configure_cluster_name }}
fips: {{ configure_fips }}
networking:
  networkType: {{ configure_network_type }}
  machineNetwork:
    - cidr: {{ configure_network }}
platform:
  vsphere:
    vcenter: {{ configure_vsphere.vcenter_hostname }}
    username: {{ configure_vsphere.vcenter_username }}
    password: {{ configure_vsphere.vcenter_password }}
    datacenter: {{ configure_datacenter }}
    defaultDatastore: {{ configure_datastore }}
    cluster: {{ configure_cluster }}
    apiVIPs: ['1.2.3.4']
    ingressVIPs: ['1.2.3.5']
    folder: {{ configure_folder }}
pullSecret: '{{ configure_pull_secret | tojson | safe }}'
sshKey: '{{ configure_ssh_key }}'
{% if configure_registry_cert is defined and configure_registry_cert != '' %}
additionalTrustBundle: |
    {{ configure_registry_cert | indent(4) }}
{% endif %}
